body{
background-color:#99CCCC;
background-attachment:fixed;
}

header{
width:1200px;
height:100px;
background-color:#339933;
border-top-right-radius:10px;
border-top-left-radius:10px;
border-bottom-right-radius:10px;
border-bottom-left-radius:10px;
opacity:0.6;
}

#descriptionAboutHolidAir{
width:850px;
height:450px;
position:absolute;
background-color:#FFFFFF;
top:200px;
left:240px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
}

footer{
width:1200px;
height:30px;
background-color:#339933;
opacity:0.6;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
}

#copyrightText{
position:absolute;
top:750px;
left:100px;
}

#wrapperText {
position:absolute;
top:5px;
left:500px;
font-size:40px;
}

#aboutHolidAirArea{
width:1200px;
height:600px;
background-color:#339933;
opacity:0.6;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
}