body {
background:url("blog-02.jpg");
background-attachment:fixed;
background-size:1370px 660px;
}

#changeUidText{
background-color:#99CCFF;
width: 600px;
height:60px;
margin:0px;
font-size:40px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
opacity:0.5;
}

#changePwdForm{
background-color:#99CCFF;
width:600px;
height:400px;
margin:20px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
opacity:0.5;
}

#uidTxtFld{
position:absolute;
right:580px;
top:200px;
}

#pwdTxtFld{
position:absolute;
right:580px;
top:250px;
}

#newPwdTxtFld{
position:absolute;
right:580px;
top:300px;
}

#rptPwdTxtFld{
position:absolute;
right:580px;
top:350px;
}

#changePwdButton{
position:absolute;
right:590px;
top:400px;
}