body{
background-color:#99CC99;
background-attachment:fixed;
}

header{
width:1200px;
height:100px;
background-color:#FFFF33;
border-top-right-radius:10px;
border-top-left-radius:10px;
border-bottom-right-radius:10px;
border-bottom-left-radius:10px;
opacity:0.6;
}

footer{
width:1200px;
height:30px;
background-color:#FFFF33;
border-top-right-radius:10px;
border-top-left-radius:10px;
border-bottom-right-radius:10px;
border-bottom-left-radius:10px;
opacity:0.6;
}

#wrapperText{
position:absolute;
top:5px;
left:550px;
font-size:40px;
}

#savedInterestsArea{
width:1200px;
height:600px;
background-color:#FFFF33;
opacity:0.6;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
}

#savedListArea{
width:850px;
height:450px;
position:absolute;
background-color:#FFFFFF;
top:200px;
left:240px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
}

#copyrightText{
position:absolute;
top:750px;
left:100px;
}