header{
width:1200px;
height:100px;
background-color:#66CCFF;
opacity:0.6;
}

body{
background:url("hotel-5.jpg");
background-attachment:fixed;
background-size:1370px 660px;
}

#headerTxt{
position:absolute;
right:540px;
top:10px;
font-size:40px;
}

#hotelsToBookList{
width:1200px;
height:1000px;
background-color:#66CCFF;
opacity:0.6;
}

footer{
width:1200px;
height:30px;
background-color:#66CCFF;
opacity:0.6;
}

#copyrightTxt{
position:absolute;
top:1150px;
left:100px;
}

#hotels1{
position:absolute;
width:250px;
height:150px;
background-color:#CCCCCC;
top:250px;
left:220px;
}

#hotels2{
position:absolute;
width:250px;
height:150px;
background-color:#CCCCCC;
top:250px;
left:540px;
}

#hotels3{
position:absolute;
width:250px;
height:150px;
background-color:#CCCCCC;
top:250px;
left:850px;
}

#hotels4{
position:absolute;
width:250px;
height:150px;
background-color:#CCCCCC;
top:460px;
left:220px;
}

#hotels5{
position:absolute;
width:250px;
height:150px;
background-color:#CCCCCC;
top:460px;
left:540px;
}

#hotels6{
position:absolute;
width:250px;
height:150px;
background-color:#CCCCCC;
top:460px;
left:850px;
}

#hotels7{
position:absolute;
width:250px;
height:150px;
background-color:#CCCCCC;
top:670px;
left:220px;
}

#hotels8{
position:absolute;
width:250px;
height:150px;
background-color:#CCCCCC;
top:670px;
left:540px;
}

#hotels9{
position:absolute;
width:250px;
height:150px;
background-color:#CCCCCC;
top:670px;
left:850px;
}

#hotels10{
position:absolute;
width:250px;
height:150px;
background-color:#CCCCCC;
top:880px;
left:220px;
}

#hotels11{
position:absolute;
width:250px;
height:150px;
background-color:#CCCCCC;
top:880px;
left:540px;
}

#hotels12{
position:absolute;
width:250px;
height:150px;
background-color:#CCCCCC;
top:880px;
left:850px;
}